<main>
  <div class="relative px-6 lg:px-8 bg-black">
    <div class="mx-auto max-w-6xl">
      <div style="max-width: 100%;">
        <div class="hidden sm:flex sm:justify-center">
            <iframe width="560" height="315" src="https://fckr.cloud/player-embed/id/1516/" frameborder="0" scrolling="no" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
      </div>
      <div style="max-width: 100%;">
        <div class="hidden sm:flex sm:justify-center">
            <iframe width="560" height="315" src="https://fckr.cloud/player-embed/id/1249/" frameborder="0" scrolling="no" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
      </div>
      <div style="max-width: 100%;">
        <div class="hidden sm:flex sm:justify-center">
            <iframe width="560" height="315" src="https://fckr.cloud/player-embed/id/1510/" frameborder="0" scrolling="no" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
      </div>
      <div style="max-width: 100%;">
        <div class="hidden sm:flex sm:justify-center">
            <iframe width="560" height="315" src="https://fckr.cloud/player-embed/id/1080/" frameborder="0" scrolling="no" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</main>